<nav class="navbar sticky-top navbar-dark navbar-expand-md bg-dark">
 
  <div class="container">
    <div class="collapse navbar-collapse" id="navcol-1">
     
      <ul class="nav navbar-nav flex-grow-1 justify-content-between">
        <li class="nav-item text-white" role="presentation"><a class="nav-link" href="#">SADU</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Anasayfa</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Kategoriler</a></li>
        <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['hesabim']">Hesabım</a></li>
      </ul>
    </div>
  </div>
</nav>