<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <p style="text-align: center;">Merhaba <b>{{adsoyad}}</b> Hoşgeldin Burası Senin Profilin Kayıtların
                        Hakkında Yapmak İstediğin İşleme Aşağıdan Ulaşabilirisn (örneğin: Oturum kapat, Kayıt Ekle,
                        Kayıt Düzenle, vb..</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 mt-3">
            <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header text-primary">
                    <h5 class="card-title" style="text-align: center;">Menü</h5>
                </div>

                <div class="card-body text-primary">
                    <button class="btn btn-danger btn-block mt-3" (click)="OturumKapat()"
                        *ngIf="fbservis.OturumKontrol()">Oturumu Kapat</button>
                    <button class="btn btn-primary btn-block mt-3" [routerLink]="['/kayitekle']">Kayit
                        Ekle</button>
                    <button class="btn btn-secondary text-white btn-block mt-3 disabled">Ayarlar</button>
                </div>

              
           
                
            </div>
        </div>


        <div class="col-md-10 ">
            <div class="card mt-3" *ngFor="let kayit of kayitlar">
                <div class="card-header renk">
                    <h4 style="text-align:center ;">{{kayit.baslik}}</h4>
                </div>
                <div class="card-body">
                    <div [innerHTML]="kayit.icerik"></div>
                    <img class="card-img-top imgSize" src={{kayit.resim}} alt="Card image cap">
                    
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-info btn-block"
                            [routerLink]="['/kayitdetay',kayit.key]">Detay</button>
                        <button class="btn btn-outline-warning btn-block"
                            [routerLink]="['/kayitduzenle',kayit.key]">Düzenle</button>
                        <button class="btn btn-outline-danger btn-block mb-2"
                            [routerLink]="['/kayitsil',kayit.key]">Sil</button>
                    <b>Eklenme Tarihi :</b> {{kayit.kayTarih | date:'dd.MM.yyyy HH:mm:ss'}} <br>
                    <b>Duzenleme Tarihi :</b> {{kayit.duzTarih | date:'dd.MM.yyyy HH:mm:ss'}} <br>
                </div>
            </div>
        </div>

    </div>
</div>